[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
tabulate = "*"
prettytable = "*"
pylint = "*"
coverage = "*"
pillow = "*"
matplotlib = "*"
colorama = "*"
click = "*"

[requires]
python_version = ">3.6"
